<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mh.shiftcalendaram">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/calendar"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ManagingActivity"
            android:label="@string/title_activity_managing"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreatingEditableShift"
            android:label="@string/title_activity_creating_editable_shift"
            android:parentActivityName=".ManagingActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".StaticShiftChoose" />
        <activity
            android:name=".CreatingSymbol"
            android:label="@string/title_activity_creating_symbol"
            android:parentActivityName=".ManagingActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ChangeShiftActivity"
            android:label="@string/title_activity_change_shift"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".widgets.WidgetProvider"
            android:enabled="@bool/is_honeycomb"
            android:label="Poznámky směn AMO">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name=".UPDATE_LIST" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widgetinfo" />
        </receiver>
        <receiver
            android:name=".widgets.WeekWidgetProvider"
            android:enabled="@bool/is_honeycomb"
            android:label="Kalendář AMO">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name=".UPDATE_LIST" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weekwidgetinfo" />
        </receiver>

        <service
            android:name=".widgets.WeekWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".widgets.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver android:name=".widgets.WidgetPhoneBootReciever">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".StatisticActivity"
            android:label="@string/title_activity_statistic"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>
